.pick:hover {
  -webkit-animation: jiggle 1s linear;
  animation: jiggle 1s linear;
}

@keyframes gnj-fader-0-color {
  0% {
    color: magenta;
  }

  25% {
    color: orange;
  }

  50% {
    color: yellow;
  }

  75% {
    color: #21EB95;
  }

  100% {
    color: #00B1FC;
  }
}

@keyframes gnj-fader-0-transform {
  from {
    -webkit-transform: translate3d(-0px, -10px, 0);
    transform: translate3d(-0px, -10px, 0);
  }

  to {
    -webkit-transform: translate3d(0px, 10px, 0);
    transform: translate3d(0px, 10px, 0);
  }
}

#gnj-fader-0 {
  display: inline-block;
}

li:hover #gnj-fader-0 span,
#gnj-fader-0.fader-true span {
  display: inline-block;
  -webkit-animation-name: gnj-fader-0-color, gnj-fader-0-transform;
  animation-name: gnj-fader-0-color, gnj-fader-0-transform;
  -webkit-animation-duration: 1000ms, 1000ms;
  animation-duration: 1000ms, 1000ms;
  -webkit-animation-timing-function: linear, ease-in-out;
  animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes gnj-fader-0-color {
  0% {
    color: magenta;
  }

  25% {
    color: orange;
  }

  50% {
    color: yellow;
  }

  75% {
    color: #21EB95;
  }

  100% {
    color: #00B1FC;
  }
}

@-webkit-keyframes gnj-fader-0-transform {
  from {
    -webkit-transform: translate3d(-0px, -10px, 0);
  }

  to {
    -webkit-transform: translate3d(0px, 10px, 0);
  }
}

#gnj-fader-0 {
  display: inline-block;
}

li:hover #gnj-fader-0 span,
#gnj-fader-0.fader-true span {
  display: inline-block;
  -webkit-animation-name: gnj-fader-0-color, gnj-fader-0-transform;
  -webkit-animation-duration: 1000ms, 1000ms;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

@keyframes gnj-fader-1-color {
  0% {
    color: magenta;
  }

  25% {
    color: orange;
  }

  50% {
    color: yellow;
  }

  75% {
    color: #21EB95;
  }

  100% {
    color: #00B1FC;
  }
}

@keyframes gnj-fader-1-transform {
  from {
    -webkit-transform: translate3d(-0px, -10px, 0);
    transform: translate3d(-0px, -10px, 0);
  }

  to {
    -webkit-transform: translate3d(0px, 10px, 0);
    transform: translate3d(0px, 10px, 0);
  }
}

#gnj-fader-1 {
  display: inline-block;
}

li:hover #gnj-fader-1 span,
#gnj-fader-1.fader-true span {
  display: inline-block;
  -webkit-animation-name: gnj-fader-1-color, gnj-fader-1-transform;
  animation-name: gnj-fader-1-color, gnj-fader-1-transform;
  -webkit-animation-duration: 1000ms, 1000ms;
  animation-duration: 1000ms, 1000ms;
  -webkit-animation-timing-function: linear, ease-in-out;
  animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes gnj-fader-1-color {
  0% {
    color: magenta;
  }

  25% {
    color: orange;
  }

  50% {
    color: yellow;
  }

  75% {
    color: #21EB95;
  }

  100% {
    color: #00B1FC;
  }
}

@-webkit-keyframes gnj-fader-1-transform {
  from {
    -webkit-transform: translate3d(-0px, -10px, 0);
  }

  to {
    -webkit-transform: translate3d(0px, 10px, 0);
  }
}

#gnj-fader-1 {
  display: inline-block;
}

li:hover #gnj-fader-1 span,
#gnj-fader-1.fader-true span {
  display: inline-block;
  -webkit-animation-name: gnj-fader-1-color, gnj-fader-1-transform;
  -webkit-animation-duration: 1000ms, 1000ms;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

@keyframes gnj-fader-2-color {
  0% {
    color: magenta;
  }

  25% {
    color: orange;
  }

  50% {
    color: yellow;
  }

  75% {
    color: #21EB95;
  }

  100% {
    color: #00B1FC;
  }
}

@keyframes gnj-fader-2-transform {
  from {
    -webkit-transform: translate3d(-0px, -10px, 0);
    transform: translate3d(-0px, -10px, 0);
  }

  to {
    -webkit-transform: translate3d(0px, 10px, 0);
    transform: translate3d(0px, 10px, 0);
  }
}

#gnj-fader-2 {
  display: inline-block;
}

li:hover #gnj-fader-2 span,
#gnj-fader-2.fader-true span {
  display: inline-block;
  -webkit-animation-name: gnj-fader-2-color, gnj-fader-2-transform;
  animation-name: gnj-fader-2-color, gnj-fader-2-transform;
  -webkit-animation-duration: 1000ms, 1000ms;
  animation-duration: 1000ms, 1000ms;
  -webkit-animation-timing-function: linear, ease-in-out;
  animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes gnj-fader-2-color {
  0% {
    color: magenta;
  }

  25% {
    color: orange;
  }

  50% {
    color: yellow;
  }

  75% {
    color: #21EB95;
  }

  100% {
    color: #00B1FC;
  }
}

@-webkit-keyframes gnj-fader-2-transform {
  from {
    -webkit-transform: translate3d(-0px, -10px, 0);
  }

  to {
    -webkit-transform: translate3d(0px, 10px, 0);
  }
}

#gnj-fader-2 {
  display: inline-block;
}

li:hover #gnj-fader-2 span,
#gnj-fader-2.fader-true span {
  display: inline-block;
  -webkit-animation-name: gnj-fader-2-color, gnj-fader-2-transform;
  -webkit-animation-duration: 1000ms, 1000ms;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

@keyframes gnj-fader-3-color {
  0% {
    color: magenta;
  }

  25% {
    color: orange;
  }

  50% {
    color: yellow;
  }

  75% {
    color: #21EB95;
  }

  100% {
    color: #00B1FC;
  }
}

@keyframes gnj-fader-3-transform {
  from {
    -webkit-transform: translate3d(-0px, -10px, 0);
    transform: translate3d(-0px, -10px, 0);
  }

  to {
    -webkit-transform: translate3d(0px, 10px, 0);
    transform: translate3d(0px, 10px, 0);
  }
}

#gnj-fader-3 {
  display: inline-block;
}

li:hover #gnj-fader-3 span,
#gnj-fader-3.fader-true span {
  display: inline-block;
  -webkit-animation-name: gnj-fader-3-color, gnj-fader-3-transform;
  animation-name: gnj-fader-3-color, gnj-fader-3-transform;
  -webkit-animation-duration: 1000ms, 1000ms;
  animation-duration: 1000ms, 1000ms;
  -webkit-animation-timing-function: linear, ease-in-out;
  animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes gnj-fader-3-color {
  0% {
    color: magenta;
  }

  25% {
    color: orange;
  }

  50% {
    color: yellow;
  }

  75% {
    color: #21EB95;
  }

  100% {
    color: #00B1FC;
  }
}

@-webkit-keyframes gnj-fader-3-transform {
  from {
    -webkit-transform: translate3d(-0px, -10px, 0);
  }

  to {
    -webkit-transform: translate3d(0px, 10px, 0);
  }
}

#gnj-fader-3 {
  display: inline-block;
}

li:hover #gnj-fader-3 span,
#gnj-fader-3.fader-true span {
  display: inline-block;
  -webkit-animation-name: gnj-fader-3-color, gnj-fader-3-transform;
  -webkit-animation-duration: 1000ms, 1000ms;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

@keyframes gnj-fader-4-color {
  0% {
    color: magenta;
  }

  25% {
    color: orange;
  }

  50% {
    color: yellow;
  }

  75% {
    color: #21EB95;
  }

  100% {
    color: #00B1FC;
  }
}

@keyframes gnj-fader-4-transform {
  from {
    -webkit-transform: translate3d(-0px, -10px, 0);
    transform: translate3d(-0px, -10px, 0);
  }

  to {
    -webkit-transform: translate3d(0px, 10px, 0);
    transform: translate3d(0px, 10px, 0);
  }
}

#gnj-fader-4 {
  display: inline-block;
}

li:hover #gnj-fader-4 span,
#gnj-fader-4.fader-true span {
  display: inline-block;
  -webkit-animation-name: gnj-fader-4-color, gnj-fader-4-transform;
  animation-name: gnj-fader-4-color, gnj-fader-4-transform;
  -webkit-animation-duration: 1000ms, 1000ms;
  animation-duration: 1000ms, 1000ms;
  -webkit-animation-timing-function: linear, ease-in-out;
  animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes gnj-fader-4-color {
  0% {
    color: magenta;
  }

  25% {
    color: orange;
  }

  50% {
    color: yellow;
  }

  75% {
    color: #21EB95;
  }

  100% {
    color: #00B1FC;
  }
}

@-webkit-keyframes gnj-fader-4-transform {
  from {
    -webkit-transform: translate3d(-0px, -10px, 0);
  }

  to {
    -webkit-transform: translate3d(0px, 10px, 0);
  }
}

#gnj-fader-4 {
  display: inline-block;
}

li:hover #gnj-fader-4 span,
#gnj-fader-4.fader-true span {
  display: inline-block;
  -webkit-animation-name: gnj-fader-4-color, gnj-fader-4-transform;
  -webkit-animation-duration: 1000ms, 1000ms;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

@keyframes gnj-fader-5-color {
  0% {
    color: magenta;
  }

  25% {
    color: orange;
  }

  50% {
    color: yellow;
  }

  75% {
    color: #21EB95;
  }

  100% {
    color: #00B1FC;
  }
}

@keyframes gnj-fader-5-transform {
  from {
    -webkit-transform: translate3d(-0px, -10px, 0);
    transform: translate3d(-0px, -10px, 0);
  }

  to {
    -webkit-transform: translate3d(0px, 10px, 0);
    transform: translate3d(0px, 10px, 0);
  }
}

#gnj-fader-5 {
  display: inline-block;
}

li:hover #gnj-fader-5 span,
#gnj-fader-5.fader-true span {
  display: inline-block;
  -webkit-animation-name: gnj-fader-5-color, gnj-fader-5-transform;
  animation-name: gnj-fader-5-color, gnj-fader-5-transform;
  -webkit-animation-duration: 1000ms, 1000ms;
  animation-duration: 1000ms, 1000ms;
  -webkit-animation-timing-function: linear, ease-in-out;
  animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes gnj-fader-5-color {
  0% {
    color: magenta;
  }

  25% {
    color: orange;
  }

  50% {
    color: yellow;
  }

  75% {
    color: #21EB95;
  }

  100% {
    color: #00B1FC;
  }
}

@-webkit-keyframes gnj-fader-5-transform {
  from {
    -webkit-transform: translate3d(-0px, -10px, 0);
  }

  to {
    -webkit-transform: translate3d(0px, 10px, 0);
  }
}

#gnj-fader-5 {
  display: inline-block;
}

li:hover #gnj-fader-5 span,
#gnj-fader-5.fader-true span {
  display: inline-block;
  -webkit-animation-name: gnj-fader-5-color, gnj-fader-5-transform;
  -webkit-animation-duration: 1000ms, 1000ms;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

@keyframes gnj-fader-6-color {
  0% {
    color: magenta;
  }

  25% {
    color: orange;
  }

  50% {
    color: yellow;
  }

  75% {
    color: #21EB95;
  }

  100% {
    color: #00B1FC;
  }
}

@keyframes gnj-fader-6-transform {
  from {
    -webkit-transform: translate3d(-0px, -10px, 0);
    transform: translate3d(-0px, -10px, 0);
  }

  to {
    -webkit-transform: translate3d(0px, 10px, 0);
    transform: translate3d(0px, 10px, 0);
  }
}

#gnj-fader-6 {
  display: inline-block;
}

li:hover #gnj-fader-6 span,
#gnj-fader-6.fader-true span {
  display: inline-block;
  -webkit-animation-name: gnj-fader-6-color, gnj-fader-6-transform;
  animation-name: gnj-fader-6-color, gnj-fader-6-transform;
  -webkit-animation-duration: 1000ms, 1000ms;
  animation-duration: 1000ms, 1000ms;
  -webkit-animation-timing-function: linear, ease-in-out;
  animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes gnj-fader-6-color {
  0% {
    color: magenta;
  }

  25% {
    color: orange;
  }

  50% {
    color: yellow;
  }

  75% {
    color: #21EB95;
  }

  100% {
    color: #00B1FC;
  }
}

@-webkit-keyframes gnj-fader-6-transform {
  from {
    -webkit-transform: translate3d(-0px, -10px, 0);
  }

  to {
    -webkit-transform: translate3d(0px, 10px, 0);
  }
}

#gnj-fader-6 {
  display: inline-block;
}

li:hover #gnj-fader-6 span,
#gnj-fader-6.fader-true span {
  display: inline-block;
  -webkit-animation-name: gnj-fader-6-color, gnj-fader-6-transform;
  -webkit-animation-duration: 1000ms, 1000ms;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

@keyframes gnj-fader-7-color {
  0% {
    color: magenta;
  }

  25% {
    color: orange;
  }

  50% {
    color: yellow;
  }

  75% {
    color: #21EB95;
  }

  100% {
    color: #00B1FC;
  }
}

@keyframes gnj-fader-7-transform {
  from {
    -webkit-transform: translate3d(-0px, -10px, 0);
    transform: translate3d(-0px, -10px, 0);
  }

  to {
    -webkit-transform: translate3d(0px, 10px, 0);
    transform: translate3d(0px, 10px, 0);
  }
}

#gnj-fader-7 {
  display: inline-block;
}

li:hover #gnj-fader-7 span,
#gnj-fader-7.fader-true span {
  display: inline-block;
  -webkit-animation-name: gnj-fader-7-color, gnj-fader-7-transform;
  animation-name: gnj-fader-7-color, gnj-fader-7-transform;
  -webkit-animation-duration: 1000ms, 1000ms;
  animation-duration: 1000ms, 1000ms;
  -webkit-animation-timing-function: linear, ease-in-out;
  animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes gnj-fader-7-color {
  0% {
    color: magenta;
  }

  25% {
    color: orange;
  }

  50% {
    color: yellow;
  }

  75% {
    color: #21EB95;
  }

  100% {
    color: #00B1FC;
  }
}

@-webkit-keyframes gnj-fader-7-transform {
  from {
    -webkit-transform: translate3d(-0px, -10px, 0);
  }

  to {
    -webkit-transform: translate3d(0px, 10px, 0);
  }
}

#gnj-fader-7 {
  display: inline-block;
}

li:hover #gnj-fader-7 span,
#gnj-fader-7.fader-true span {
  display: inline-block;
  -webkit-animation-name: gnj-fader-7-color, gnj-fader-7-transform;
  -webkit-animation-duration: 1000ms, 1000ms;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

@keyframes gnj-fader-8-color {
  0% {
    color: magenta;
  }

  25% {
    color: orange;
  }

  50% {
    color: yellow;
  }

  75% {
    color: #21EB95;
  }

  100% {
    color: #00B1FC;
  }
}

@keyframes gnj-fader-8-transform {
  from {
    -webkit-transform: translate3d(-0px, -10px, 0);
    transform: translate3d(-0px, -10px, 0);
  }

  to {
    -webkit-transform: translate3d(0px, 10px, 0);
    transform: translate3d(0px, 10px, 0);
  }
}

#gnj-fader-8 {
  display: inline-block;
}

li:hover #gnj-fader-8 span,
#gnj-fader-8.fader-true span {
  display: inline-block;
  -webkit-animation-name: gnj-fader-8-color, gnj-fader-8-transform;
  animation-name: gnj-fader-8-color, gnj-fader-8-transform;
  -webkit-animation-duration: 1000ms, 1000ms;
  animation-duration: 1000ms, 1000ms;
  -webkit-animation-timing-function: linear, ease-in-out;
  animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes gnj-fader-8-color {
  0% {
    color: magenta;
  }

  25% {
    color: orange;
  }

  50% {
    color: yellow;
  }

  75% {
    color: #21EB95;
  }

  100% {
    color: #00B1FC;
  }
}

@-webkit-keyframes gnj-fader-8-transform {
  from {
    -webkit-transform: translate3d(-0px, -10px, 0);
  }

  to {
    -webkit-transform: translate3d(0px, 10px, 0);
  }
}

#gnj-fader-8 {
  display: inline-block;
}

li:hover #gnj-fader-8 span,
#gnj-fader-8.fader-true span {
  display: inline-block;
  -webkit-animation-name: gnj-fader-8-color, gnj-fader-8-transform;
  -webkit-animation-duration: 1000ms, 1000ms;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

@keyframes gnj-fader-9-color {
  0% {
    color: magenta;
  }

  25% {
    color: orange;
  }

  50% {
    color: yellow;
  }

  75% {
    color: #21EB95;
  }

  100% {
    color: #00B1FC;
  }
}

@keyframes gnj-fader-9-transform {
  from {
    -webkit-transform: translate3d(-0px, -10px, 0);
    transform: translate3d(-0px, -10px, 0);
  }

  to {
    -webkit-transform: translate3d(0px, 10px, 0);
    transform: translate3d(0px, 10px, 0);
  }
}

#gnj-fader-9 {
  display: inline-block;
}

li:hover #gnj-fader-9 span,
#gnj-fader-9.fader-true span {
  display: inline-block;
  -webkit-animation-name: gnj-fader-9-color, gnj-fader-9-transform;
  animation-name: gnj-fader-9-color, gnj-fader-9-transform;
  -webkit-animation-duration: 1000ms, 1000ms;
  animation-duration: 1000ms, 1000ms;
  -webkit-animation-timing-function: linear, ease-in-out;
  animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes gnj-fader-9-color {
  0% {
    color: magenta;
  }

  25% {
    color: orange;
  }

  50% {
    color: yellow;
  }

  75% {
    color: #21EB95;
  }

  100% {
    color: #00B1FC;
  }
}

@-webkit-keyframes gnj-fader-9-transform {
  from {
    -webkit-transform: translate3d(-0px, -10px, 0);
  }

  to {
    -webkit-transform: translate3d(0px, 10px, 0);
  }
}

#gnj-fader-9 {
  display: inline-block;
}

li:hover #gnj-fader-9 span,
#gnj-fader-9.fader-true span {
  display: inline-block;
  -webkit-animation-name: gnj-fader-9-color, gnj-fader-9-transform;
  -webkit-animation-duration: 1000ms, 1000ms;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

@keyframes scrolldown {
  from {
    -webkit-transform: translate3d(0,  -25px,  0);
    transform: translate3d(0,  -25px,  0);
  }
}

@-webkit-keyframes scrolldown {
  from {
    -webkit-transform: translate3d(0,  -25px,  0);
  }
}

@keyframes jiggle {
  0% {
    -webkit-transform: scale(1.2,  0.8);
    transform: scale(1.2,  0.8);
  }

  1% {
    -webkit-transform: scale(1.18,  0.82);
    transform: scale(1.18,  0.82);
  }

  2% {
    -webkit-transform: scale(1.16,  0.84);
    transform: scale(1.16,  0.84);
  }

  3% {
    -webkit-transform: scale(1.13,  0.87);
    transform: scale(1.13,  0.87);
  }

  4% {
    -webkit-transform: scale(1.1,  0.9);
    transform: scale(1.1,  0.9);
  }

  5% {
    -webkit-transform: scale(1.07,  0.93);
    transform: scale(1.07,  0.93);
  }

  6% {
    -webkit-transform: scale(1.04,  0.96);
    transform: scale(1.04,  0.96);
  }

  7% {
    -webkit-transform: scale(1.01,  0.99);
    transform: scale(1.01,  0.99);
  }

  8% {
    -webkit-transform: scale(0.99,  1.01);
    transform: scale(0.99,  1.01);
  }

  9% {
    -webkit-transform: scale(0.97,  1.03);
    transform: scale(0.97,  1.03);
  }

  10% {
    -webkit-transform: scale(0.95,  1.05);
    transform: scale(0.95,  1.05);
  }

  11% {
    -webkit-transform: scale(0.94,  1.06);
    transform: scale(0.94,  1.06);
  }

  12% {
    -webkit-transform: scale(0.93,  1.07);
    transform: scale(0.93,  1.07);
  }

  13% {
    -webkit-transform: scale(0.93,  1.07);
    transform: scale(0.93,  1.07);
  }

  14% {
    -webkit-transform: scale(0.93,  1.07);
    transform: scale(0.93,  1.07);
  }

  15% {
    -webkit-transform: scale(0.93,  1.07);
    transform: scale(0.93,  1.07);
  }

  16% {
    -webkit-transform: scale(0.94,  1.06);
    transform: scale(0.94,  1.06);
  }

  17% {
    -webkit-transform: scale(0.94,  1.06);
    transform: scale(0.94,  1.06);
  }

  18% {
    -webkit-transform: scale(0.95,  1.05);
    transform: scale(0.95,  1.05);
  }

  19% {
    -webkit-transform: scale(0.96,  1.04);
    transform: scale(0.96,  1.04);
  }

  20% {
    -webkit-transform: scale(0.98,  1.02);
    transform: scale(0.98,  1.02);
  }

  21% {
    -webkit-transform: scale(0.99,  1.01);
    transform: scale(0.99,  1.01);
  }

  22% {
    -webkit-transform: scale(1,  1);
    transform: scale(1,  1);
  }

  23% {
    -webkit-transform: scale(1,  1);
    transform: scale(1,  1);
  }

  24% {
    -webkit-transform: scale(1.01,  0.99);
    transform: scale(1.01,  0.99);
  }

  25% {
    -webkit-transform: scale(1.02,  0.98);
    transform: scale(1.02,  0.98);
  }

  26% {
    -webkit-transform: scale(1.02,  0.98);
    transform: scale(1.02,  0.98);
  }

  27% {
    -webkit-transform: scale(1.02,  0.98);
    transform: scale(1.02,  0.98);
  }

  28% {
    -webkit-transform: scale(1.03,  0.97);
    transform: scale(1.03,  0.97);
  }

  29% {
    -webkit-transform: scale(1.03,  0.97);
    transform: scale(1.03,  0.97);
  }

  30% {
    -webkit-transform: scale(1.02,  0.98);
    transform: scale(1.02,  0.98);
  }

  31% {
    -webkit-transform: scale(1.02,  0.98);
    transform: scale(1.02,  0.98);
  }

  32% {
    -webkit-transform: scale(1.02,  0.98);
    transform: scale(1.02,  0.98);
  }

  33% {
    -webkit-transform: scale(1.02,  0.98);
    transform: scale(1.02,  0.98);
  }

  34% {
    -webkit-transform: scale(1.01,  0.99);
    transform: scale(1.01,  0.99);
  }

  35% {
    -webkit-transform: scale(1.01,  0.99);
    transform: scale(1.01,  0.99);
  }

  36% {
    -webkit-transform: scale(1.01,  0.99);
    transform: scale(1.01,  0.99);
  }

  37% {
    -webkit-transform: scale(1,  1);
    transform: scale(1,  1);
  }

  38% {
    -webkit-transform: scale(1,  1);
    transform: scale(1,  1);
  }

  39% {
    -webkit-transform: scale(1,  1);
    transform: scale(1,  1);
  }

  40% {
    -webkit-transform: scale(0.99,  1.01);
    transform: scale(0.99,  1.01);
  }

  41% {
    -webkit-transform: scale(0.99,  1.01);
    transform: scale(0.99,  1.01);
  }

  42% {
    -webkit-transform: scale(0.99,  1.01);
    transform: scale(0.99,  1.01);
  }

  43% {
    -webkit-transform: scale(0.99,  1.01);
    transform: scale(0.99,  1.01);
  }

  44% {
    -webkit-transform: scale(0.99,  1.01);
    transform: scale(0.99,  1.01);
  }

  45% {
    -webkit-transform: scale(0.99,  1.01);
    transform: scale(0.99,  1.01);
  }

  46% {
    -webkit-transform: scale(0.99,  1.01);
    transform: scale(0.99,  1.01);
  }

  47% {
    -webkit-transform: scale(0.99,  1.01);
    transform: scale(0.99,  1.01);
  }

  48% {
    -webkit-transform: scale(0.99,  1.01);
    transform: scale(0.99,  1.01);
  }

  49% {
    -webkit-transform: scale(1,  1);
    transform: scale(1,  1);
  }
}

@-webkit-keyframes jiggle {
  0% {
    -webkit-transform: scale(1.2,  0.8);
  }

  1% {
    -webkit-transform: scale(1.18,  0.82);
  }

  2% {
    -webkit-transform: scale(1.16,  0.84);
  }

  3% {
    -webkit-transform: scale(1.13,  0.87);
  }

  4% {
    -webkit-transform: scale(1.1,  0.9);
  }

  5% {
    -webkit-transform: scale(1.07,  0.93);
  }

  6% {
    -webkit-transform: scale(1.04,  0.96);
  }

  7% {
    -webkit-transform: scale(1.01,  0.99);
  }

  8% {
    -webkit-transform: scale(0.99,  1.01);
  }

  9% {
    -webkit-transform: scale(0.97,  1.03);
  }

  10% {
    -webkit-transform: scale(0.95,  1.05);
  }

  11% {
    -webkit-transform: scale(0.94,  1.06);
  }

  12% {
    -webkit-transform: scale(0.93,  1.07);
  }

  13% {
    -webkit-transform: scale(0.93,  1.07);
  }

  14% {
    -webkit-transform: scale(0.93,  1.07);
  }

  15% {
    -webkit-transform: scale(0.93,  1.07);
  }

  16% {
    -webkit-transform: scale(0.94,  1.06);
  }

  17% {
    -webkit-transform: scale(0.94,  1.06);
  }

  18% {
    -webkit-transform: scale(0.95,  1.05);
  }

  19% {
    -webkit-transform: scale(0.96,  1.04);
  }

  20% {
    -webkit-transform: scale(0.98,  1.02);
  }

  21% {
    -webkit-transform: scale(0.99,  1.01);
  }

  22% {
    -webkit-transform: scale(1,  1);
  }

  23% {
    -webkit-transform: scale(1,  1);
  }

  24% {
    -webkit-transform: scale(1.01,  0.99);
  }

  25% {
    -webkit-transform: scale(1.02,  0.98);
  }

  26% {
    -webkit-transform: scale(1.02,  0.98);
  }

  27% {
    -webkit-transform: scale(1.02,  0.98);
  }

  28% {
    -webkit-transform: scale(1.03,  0.97);
  }

  29% {
    -webkit-transform: scale(1.03,  0.97);
  }

  30% {
    -webkit-transform: scale(1.02,  0.98);
  }

  31% {
    -webkit-transform: scale(1.02,  0.98);
  }

  32% {
    -webkit-transform: scale(1.02,  0.98);
  }

  33% {
    -webkit-transform: scale(1.02,  0.98);
  }

  34% {
    -webkit-transform: scale(1.01,  0.99);
  }

  35% {
    -webkit-transform: scale(1.01,  0.99);
  }

  36% {
    -webkit-transform: scale(1.01,  0.99);
  }

  37% {
    -webkit-transform: scale(1,  1);
  }

  38% {
    -webkit-transform: scale(1,  1);
  }

  39% {
    -webkit-transform: scale(1,  1);
  }

  40% {
    -webkit-transform: scale(0.99,  1.01);
  }

  41% {
    -webkit-transform: scale(0.99,  1.01);
  }

  42% {
    -webkit-transform: scale(0.99,  1.01);
  }

  43% {
    -webkit-transform: scale(0.99,  1.01);
  }

  44% {
    -webkit-transform: scale(0.99,  1.01);
  }

  45% {
    -webkit-transform: scale(0.99,  1.01);
  }

  46% {
    -webkit-transform: scale(0.99,  1.01);
  }

  47% {
    -webkit-transform: scale(0.99,  1.01);
  }

  48% {
    -webkit-transform: scale(0.99,  1.01);
  }

  49% {
    -webkit-transform: scale(1,  1);
  }
}